<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Working with a real world data-set using SQL and Python

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in an Db2 database on IBM Cloud instance
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true)

**NOTE**:

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/data/Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012-v3.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">link</a>.

Now review some of its contents.

### Store the dataset in a Table

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in the previous lab, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR.

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next".

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the CHICAGO PUBLIC SCHOOLS dataset and load the dataset into a new table called **SCHOOLS**.

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [66]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
!pip install --force-reinstall ibm_db==3.1.0
!pip install --force-reinstall ibm_db_sa==0.3.7
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
!pip install --force-reinstall sqlalchemy==1.3.24
!pip install --force-reinstall ipython-sql

Collecting ibm_db==3.1.0
  Using cached ibm_db-3.1.0-cp39-cp39-linux_x86_64.whl
Installing collected packages: ibm-db
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:
      Successfully uninstalled ibm-db-3.1.0
Successfully installed ibm-db-3.1.0
Collecting ibm_db_sa==0.3.7
  Using cached ibm_db_sa-0.3.7-py3-none-any.whl
Collecting sqlalchemy>=0.7.3
  Using cached SQLAlchemy-1.4.31-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
Collecting ibm-db>=2.0.0
  Downloading ibm_db-3.1.1.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 16.2 MB/s eta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (153 kB)
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (PEP 517) ... done
  Created wheel for ibm-db: filename=ibm_db-3.1.1-cp39-cp39-linux_x86_64.whl size=340003 sha256=58566401ea1daa1a99615456f7d25fcb9bcec94ede8e5a9d44b4a366c55f963d
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/6d/bc/32/4d6aea1a8aeb16c77cd00d26a35435498d4fa8830ccfc96cec
Successfully built ibm-db
Installing collected packages: greenlet, sqlalchemy, ibm-db, ibm-db-sa
  Attempting uninstall: greenlet
    Found existing installation: greenlet 1.1.2
    Uninstalling greenlet-1.1.2:
      Successfully uninstalled greenlet-1.1.2
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:
      Successfully uninstalled ibm-db-3.1.0
  Attempting uninstall: ibm-db-sa
    Found existing installation: ibm-db-sa 0.3.7
    Uninstalling ibm-db-sa-0.3.7:
      Successfully uninstalled ibm-db-sa-0.3.7
Successfully installed greenlet-1.1.2 ibm-db-3.1.1 ibm-db-sa-0.3.7 sqlalchemy-1.4.31
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp39-cp39-manylinux2010_x86_64.whl (1.3 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.31
    Uninstalling SQLAlchemy-1.4.31:
      Successfully uninstalled SQLAlchemy-1.4.31
Successfully installed sqlalchemy-1.3.24
Collecting ipython-sql
  Using cached ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting sqlalchemy>=0.6.7
  Using cached SQLAlchemy-1.4.31-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
Collecting sqlparse
  Using cached sqlparse-0.4.2-py3-none-any.whl (42 kB)
Collecting prettytable<1
  Using cached prettytable-0.7.2-py3-none-any.whl
Collecting ipython-genutils>=0.1.0
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Collecting ipython>=1.0
  Downloading ipython-8.1.0-py3-none-any.whl (750 kB)
     |████████████████████████████████| 750 kB 9.8 MB/s eta 0:00:01
Collecting six
  Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)
Collecting matplotlib-inline
  Downloading matplotlib_inline-0.1.3-py3-none-any.whl (8.2 kB)
Collecting prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0
  Downloading prompt_toolkit-3.0.28-py3-none-any.whl (380 kB)
     |████████████████████████████████| 380 kB 40.6 MB/s eta 0:00:01
Collecting jedi>=0.16
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 43.7 MB/s eta 0:00:01
Collecting backcall
  Downloading backcall-0.2.0-py2.py3-none-any.whl (11 kB)
Collecting pygments>=2.4.0
  Downloading Pygments-2.11.2-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 78.1 MB/s eta 0:00:01
Collecting decorator
  Downloading decorator-5.1.1-py3-none-any.whl (9.1 kB)
Collecting pickleshare
  Downloading pickleshare-0.7.5-py2.py3-none-any.whl (6.9 kB)
Collecting pexpect>4.3
  Downloading pexpect-4.8.0-py2.py3-none-any.whl (59 kB)
     |████████████████████████████████| 59 kB 11.8 MB/s eta 0:00:01
Collecting setuptools>=18.5
  Using cached setuptools-60.9.3-py3-none-any.whl (1.1 MB)
Collecting stack-data
  Downloading stack_data-0.2.0-py3-none-any.whl (21 kB)
Collecting traitlets>=5
  Downloading traitlets-5.1.1-py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 21.4 MB/s ta 0:00:01
Collecting parso<0.9.0,>=0.8.0
  Downloading parso-0.8.3-py2.py3-none-any.whl (100 kB)
     |████████████████████████████████| 100 kB 17.0 MB/s ta 0:00:01
Collecting ptyprocess>=0.5
  Downloading ptyprocess-0.7.0-py2.py3-none-any.whl (13 kB)
Collecting wcwidth
  Downloading wcwidth-0.2.5-py2.py3-none-any.whl (30 kB)
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (153 kB)
Collecting executing
  Downloading executing-0.8.3-py2.py3-none-any.whl (16 kB)
Collecting asttokens
  Downloading asttokens-2.0.5-py2.py3-none-any.whl (20 kB)
Collecting pure-eval
  Downloading pure_eval-0.2.2-py3-none-any.whl (11 kB)
Installing collected packages: six, wcwidth, traitlets, pure-eval, ptyprocess, parso, executing, asttokens, stack-data, setuptools, pygments, prompt-toolkit, pickleshare, pexpect, matplotlib-inline, jedi, greenlet, decorator, backcall, sqlparse, sqlalchemy, prettytable, ipython-genutils, ipython, ipython-sql
  Attempting uninstall: six
    Found existing installation: six 1.15.0
    Uninstalling six-1.15.0:
      Successfully uninstalled six-1.15.0
  Attempting uninstall: wcwidth
    Found existing installation: wcwidth 0.2.5
    Uninstalling wcwidth-0.2.5:
      Successfully uninstalled wcwidth-0.2.5
  Attempting uninstall: traitlets
    Found existing installation: traitlets 5.1.1
    Uninstalling traitlets-5.1.1:
      Successfully uninstalled traitlets-5.1.1
  Attempting uninstall: ptyprocess
    Found existing installation: ptyprocess 0.7.0
    Uninstalling ptyprocess-0.7.0:
      Successfully uninstalled ptyprocess-0.7.0
  Attempting uninstall: parso
    Found existing installation: parso 0.8.3
    Uninstalling parso-0.8.3:
      Successfully uninstalled parso-0.8.3
  Attempting uninstall: setuptools
    Found existing installation: setuptools 58.0.4
    Uninstalling setuptools-58.0.4:
      Successfully uninstalled setuptools-58.0.4
  Attempting uninstall: pygments
    Found existing installation: Pygments 2.10.0
    Uninstalling Pygments-2.10.0:
      Successfully uninstalled Pygments-2.10.0
  Attempting uninstall: prompt-toolkit
    Found existing installation: prompt-toolkit 3.0.20
    Uninstalling prompt-toolkit-3.0.20:
      Successfully uninstalled prompt-toolkit-3.0.20
  Attempting uninstall: pickleshare
    Found existing installation: pickleshare 0.7.5
    Uninstalling pickleshare-0.7.5:
      Successfully uninstalled pickleshare-0.7.5
  Attempting uninstall: pexpect
    Found existing installation: pexpect 4.8.0
    Uninstalling pexpect-4.8.0:
      Successfully uninstalled pexpect-4.8.0
  Attempting uninstall: matplotlib-inline
    Found existing installation: matplotlib-inline 0.1.2
    Uninstalling matplotlib-inline-0.1.2:
      Successfully uninstalled matplotlib-inline-0.1.2
  Attempting uninstall: jedi
    Found existing installation: jedi 0.18.0
    Uninstalling jedi-0.18.0:
      Successfully uninstalled jedi-0.18.0
  Attempting uninstall: greenlet
    Found existing installation: greenlet 1.1.2
    Uninstalling greenlet-1.1.2:
      Successfully uninstalled greenlet-1.1.2
  Attempting uninstall: decorator
    Found existing installation: decorator 5.1.0
    Uninstalling decorator-5.1.0:
      Successfully uninstalled decorator-5.1.0
  Attempting uninstall: backcall
    Found existing installation: backcall 0.2.0
    Uninstalling backcall-0.2.0:
      Successfully uninstalled backcall-0.2.0
  Attempting uninstall: sqlparse
    Found existing installation: sqlparse 0.4.2
    Uninstalling sqlparse-0.4.2:
      Successfully uninstalled sqlparse-0.4.2
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
  Attempting uninstall: prettytable
    Found existing installation: prettytable 0.7.2
    Uninstalling prettytable-0.7.2:
      Successfully uninstalled prettytable-0.7.2
  Attempting uninstall: ipython-genutils
    Found existing installation: ipython-genutils 0.2.0
    Uninstalling ipython-genutils-0.2.0:
      Successfully uninstalled ipython-genutils-0.2.0
  Attempting uninstall: ipython
    Found existing installation: ipython 7.29.0
    Uninstalling ipython-7.29.0:
      Successfully uninstalled ipython-7.29.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.4.0
    Uninstalling ipython-sql-0.4.0:
      Successfully uninstalled ipython-sql-0.4.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tf2onnx 1.9.3 requires flatbuffers~=1.12, but you have flatbuffers 20210226132247 which is incompatible.
ipykernel 6.4.1 requires ipython<8.0,>=7.23.1, but you have ipython 8.1.0 which is incompatible.
Successfully installed asttokens-2.0.5 backcall-0.2.0 decorator-5.1.1 executing-0.8.3 greenlet-1.1.2 ipython-8.1.0 ipython-genutils-0.2.0 ipython-sql-0.4.0 jedi-0.18.1 matplotlib-inline-0.1.3 parso-0.8.3 pexpect-4.8.0 pickleshare-0.7.5 prettytable-0.7.2 prompt-toolkit-3.0.28 ptyprocess-0.7.0 pure-eval-0.2.2 pygments-2.11.2 setuptools-60.9.3 six-1.16.0 sqlalchemy-1.4.31 sqlparse-0.4.2 stack-data-0.2.0 traitlets-5.1.1 wcwidth-0.2.5

In [67]:
%reload_ext sql

In [42]:
!pip install ibm-db

Requirement already satisfied: ibm-db in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (3.1.0)

In [68]:
import ibm_db
import ibm_db_sa
import ibm_db_dbi
import sqlalchemy
from sqlalchemy import *
from sqlalchemy import create_engine

In [44]:
sqlalchemy.__version__

'1.3.24'

In [45]:
import sys
print("User Current Version:-", sys.version)

User Current Version:- 3.9.7 (default, Sep 16 2021, 13:09:58)
[GCC 7.5.0]

In [46]:
ibm_db.__version__, ibm_db_sa.__version__

('3.1.0', '0.3.3')

In [47]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name

In [70]:
%sql ibm_db_sa://vmg68138:pfz7pV2ZEfZDlMv1@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb?PROTOCOL=TCPIP

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [59]:
conn = ibm_db.connect('DRIVER={IBM DB2 ODBC DRIVER};DATABASE=bludb;HOSTNAME=21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud;PORT=31864;PROTOCOL=TCPIP;UID=vmg68138;PWD=pfz7pV2ZEfZDlMv1;SECURITY=SSL','','')
# 'DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud;PORT=31864;PROTOCOL=TCPIP;UID=vmg68138;PWD=pfz7pV2ZEfZDlMv1;SECURITY=SSL;'

In [54]:
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_hostname = "21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"            # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_port = "31864"                    # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_uid = "vmg68138"                 # e.g. "abc12345"
dsn_pwd = "pfz7pV2ZEfZDlMv1"                 # e.g. "7dBZ3wWt9XN6$o0J"
dsn_security = "SSL"              #i.e. "SSL"

In [55]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud;PORT=31864;PROTOCOL=TCPIP;UID=vmg68138;PWD=pfz7pV2ZEfZDlMv1;SECURITY=SSL;

In [71]:
type(dsn)

str

In [57]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  vmg68138 on host:  21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [85]:
import pandas as pd
import ibm_db_dbi
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [74]:
pconn = ibm_db_dbi.Connection(conn)

In [75]:
# type in your query to retrieve list of all tables in the database for your db2 schema (username)
# VMG68138
get_tables = "select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='VMG68138';"

In [80]:
df_tables = pd.read_sql(get_tables,pconn)
df_tables

  TABSCHEMA         TABNAME                CREATE_TIME
0  VMG68138  SPACEX_DATASET 2022-02-25 11:49:02.315840
1  VMG68138       EMPLOYEES 2022-02-25 16:06:05.388912
2  VMG68138     JOB_HISTORY 2022-02-25 16:06:05.609062
3  VMG68138            JOBS 2022-02-25 16:06:05.827330
4  VMG68138     DEPARTMENTS 2022-02-25 16:06:06.044273
5  VMG68138       LOCATIONS 2022-02-25 16:06:06.277307
6  VMG68138         PETSALE 2022-02-26 11:53:25.085258
7  VMG68138       PETRESCUE 2022-02-27 13:27:10.419900
8  VMG68138      INSTRUCTOR 2022-02-27 21:59:35.762678
9  VMG68138         SCHOOLS 2022-02-28 16:33:10.490672

<details><summary>Click here for the solution</summary>

```python
#In Db2 the system catalog table called SYSCAT.TABLES contains the table metadata

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='YOUR-DB2-USERNAME'

or, you can retrieve list of all tables where the schema name is not one of the system created ones:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')
      
or, just query for a specifc table that you want to verify exists in the database
%sql select * from SYSCAT.TABLES where TABNAME = 'SCHOOLS'
```

</details>

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [82]:
# type in your query to retrieve the number of columns in the SCHOOLS table
get_columns_from_SCHOOLS_table = "select count(*) from SYSCAT.COLUMNS where TABNAME='SCHOOLS';"
pd.read_sql(get_columns_from_SCHOOLS_table, pconn)

    1
0  78

<details><summary>Click here for the solution</summary>

```python
#In Db2 the system catalog table called SYSCAT.COLUMNS contains the column metadata

%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

```

</details>

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [86]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
df_schools_table_info = pd.read_sql("select colname, typename, length from syscat.columns where tabname='SCHOOLS'", pconn)
df_schools_table_info

                                             COLNAME  TYPENAME  LENGTH
0                                          SCHOOL_ID   INTEGER       4
1                                     NAME_OF_SCHOOL   VARCHAR      64
2                 Elementary, Middle, or High School   VARCHAR       2
3                                     STREET_ADDRESS   VARCHAR      30
4                                               CITY   VARCHAR       7
5                                              STATE   VARCHAR       2
6                                           ZIP_CODE   INTEGER       4
7                                       PHONE_NUMBER   VARCHAR      14
8                                               LINK   VARCHAR      78
9                                    NETWORK_MANAGER   VARCHAR      40
10                                COLLABORATIVE_NAME   VARCHAR      34
11                    ADEQUATE_YEARLY_PROGRESS_MADE_   VARCHAR       3
12                                    TRACK_SCHEDULE   VARCHAR      12
13                     CPS_PERFORMANCE_POLICY_STATUS   VARCHAR      16
14                      CPS_PERFORMANCE_POLICY_LEVEL   VARCHAR      15
15                          HEALTHY_SCHOOL_CERTIFIED   VARCHAR       3
16                                       SAFETY_ICON   VARCHAR      11
17                                      SAFETY_SCORE  SMALLINT       2
18                           FAMILY_INVOLVEMENT_ICON   VARCHAR      11
19                          FAMILY_INVOLVEMENT_SCORE   VARCHAR       3
20                                  ENVIRONMENT_ICON   VARCHAR      11
21                                 ENVIRONMENT_SCORE  SMALLINT       2
22                                  INSTRUCTION_ICON   VARCHAR      11
23                                 INSTRUCTION_SCORE  SMALLINT       2
24                                      LEADERS_ICON   VARCHAR      11
25                                     LEADERS_SCORE   VARCHAR       3
26                                     TEACHERS_ICON   VARCHAR      11
27                                    TEACHERS_SCORE   VARCHAR       3
28                            PARENT_ENGAGEMENT_ICON   VARCHAR       7
29                           PARENT_ENGAGEMENT_SCORE   VARCHAR       3
30                           PARENT_ENVIRONMENT_ICON   VARCHAR       7
31                          PARENT_ENVIRONMENT_SCORE   VARCHAR       3
32                        AVERAGE_STUDENT_ATTENDANCE   VARCHAR       6
33            RATE_OF_MISCONDUCTS__PER_100_STUDENTS_   DECIMAL       5
34                        AVERAGE_TEACHER_ATTENDANCE   VARCHAR       6
35  INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE   VARCHAR       7
36                                   PK_2_LITERACY__   VARCHAR       4
37                                       PK_2_MATH__   VARCHAR       4
38                          GR3_5_GRADE_LEVEL_MATH__   VARCHAR       4
39                          GR3_5_GRADE_LEVEL_READ__   VARCHAR       4
40                            GR3_5_KEEP_PACE_READ__   VARCHAR       4
41                            GR3_5_KEEP_PACE_MATH__   VARCHAR       4
42                          GR6_8_GRADE_LEVEL_MATH__   VARCHAR       4
43                          GR6_8_GRADE_LEVEL_READ__   VARCHAR       4
44                             GR6_8_KEEP_PACE_MATH_   VARCHAR       4
45                            GR6_8_KEEP_PACE_READ__   VARCHAR       4
46                               GR_8_EXPLORE_MATH__   VARCHAR       4
47                               GR_8_EXPLORE_READ__   VARCHAR       4
48                             ISAT_EXCEEDING_MATH__   DECIMAL       4
49                          ISAT_EXCEEDING_READING__   DECIMAL       4
50                               ISAT_VALUE_ADD_MATH   DECIMAL       3
51                               ISAT_VALUE_ADD_READ   DECIMAL       3
52                         ISAT_VALUE_ADD_COLOR_MATH   VARCHAR       6
53                         ISAT_VALUE_ADD_COLOR_READ   VARCHAR       6
54                        STUDENTS_TAKING__ALGEBRA__   VARCHAR       4
55                       STUDENTS_PASSING__ALGEBRA__   VARCHAR       4
56                          9th Grade EXPLORE (2009)   VARCHAR       4
57                          9th Grade EXPLORE (2010)   VARCHAR       4
58                            10th Grade PLAN (2009)   VARCHAR       4
59                            10th Grade PLAN (2010)   VARCHAR       4
60                       NET_CHANGE_EXPLORE_AND_PLAN   VARCHAR       3
61                     11th Grade Average ACT (2011)   VARCHAR       4
62                           NET_CHANGE_PLAN_AND_ACT   VARCHAR       3
63                             COLLEGE_ELIGIBILITY__   VARCHAR       4
64                                 GRADUATION_RATE__   VARCHAR       4
65                         COLLEGE_ENROLLMENT_RATE__   VARCHAR       4
66                                COLLEGE_ENROLLMENT  SMALLINT       2
67                            GENERAL_SERVICES_ROUTE  SMALLINT       2
68                          FRESHMAN_ON_TRACK_RATE__   VARCHAR       4
69                                      X_COORDINATE   DECIMAL      13
70                                      Y_COORDINATE   DECIMAL      13
71                                          LATITUDE   DECIMAL      18
72                                         LONGITUDE   DECIMAL      18
73                             COMMUNITY_AREA_NUMBER  SMALLINT       2
74                               COMMUNITY_AREA_NAME   VARCHAR      22
75                                              WARD  SMALLINT       2
76                                   POLICE_DISTRICT  SMALLINT       2
77                                          LOCATION   VARCHAR      27

<details><summary>Click here for the solution</summary>

```python
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

or

%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'SCHOOLS'

```

</details>

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
2.  What is the name of "Community Area Name" column in your table? Does it have spaces?
3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "\_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [95]:
df = pd.read_sql('select * from schools', pconn)

In [100]:
df['Elementary, Middle, or High School'].value_counts()

ES    462
HS     93
MS     11
Name: Elementary, Middle, or High School, dtype: int64

<details><summary>Click here for the hint</summary>

```python
Which column specifies the school type e.g. 'ES', 'MS', 'HS'?

Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"

```

</details>

<details><summary>Click here for the solution</summary>

```python
%sql select count(*) from SCHOOLS where "Elementary, Middle, or High School" = 'ES'

Correct answer: 462

```

</details>

### Problem 2

##### What is the highest Safety Score?

In [116]:
df['SAFETY_SCORE'].sort_values(ascending=False)[0]

numpy.float64

<details><summary>Click here for the solution</summary>

```python
# Use the MAX() function

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from SCHOOLS

Correct answer: 99
    
```

</details>

### Problem 3

##### Which schools have highest Safety Score?

In [120]:
df[df['SAFETY_SCORE']==df['SAFETY_SCORE'].sort_values(ascending=False)[0]][['NAME_OF_SCHOOL','SAFETY_SCORE']]

                                       NAME_OF_SCHOOL  SAFETY_SCORE
0                   Abraham Lincoln Elementary School          99.0
10            Alexander Graham Bell Elementary School          99.0
27       Annie Keller Elementary Gifted Magnet School          99.0
39                Augustus H Burley Elementary School          99.0
118       Edgar Allan Poe Elementary Classical School          99.0
119                       Edgebrook Elementary School          99.0
141                  Ellen Mitchell Elementary School          99.0
244        James E McDade Elementary Classical School          99.0
245                  James G Blaine Elementary School          99.0
326               LaSalle Elementary Language Academy          99.0
366  Mary E Courtenay Elementary Language Arts Center          99.0
408         Northside College Preparatory High School          99.0
410             Northside Learning Center High School          99.0
412                    Norwood Park Elementary School          99.0
417                     Oriole Park Elementary School          99.0
474                       Sauganash Elementary School          99.0
488       Stephen Decatur Classical Elementary School          99.0
494                          Talman Elementary School          99.0
532                        Wildwood Elementary School          99.0

<details><summary>Click here for the solution</summary>

```python
# In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from SCHOOLS where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from SCHOOLS where \
  Safety_Score= (select MAX(Safety_Score) from SCHOOLS)


Correct answer: several schools with with Safety Score of 99.
    
```

</details>

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

<details><summary>Click here for the solution</summary>

```python
%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10 
    
```

</details>

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

<details><summary>Click here for the solution</summary>

```python
%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

```

</details>

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

<details><summary>Click here for the solution</summary>

```python
#Use the REPLACE() function to replace '%' with ''
#See documentation for this function at: 
https://www.ibm.com/support/knowledgecenter/en/SSEPGG_10.5.0/com.ibm.db2.luw.sql.ref.doc/doc/r0000843.html

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

```

</details>

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

<details><summary>Click here for the hint</summary>

```python
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)
or simply: DECIMAL("Column_Name")

Don't forget the '%' age sign needs to be removed before casting

```

</details>

<details><summary>Click here for the solution</summary>

```python
%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     
or,

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where DECIMAL ( REPLACE(Average_Student_Attendance, '%', '') ) < 70 \
     order by Average_Student_Attendance

```

</details>

### Problem 8

##### Get the total College Enrollment for each Community Area

<details><summary>Click here for the hint</summary>

```python
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area

Don't forget to group by the Community Area

```

</details>

<details><summary>Click here for the solution</summary>

```python
%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name 

```

</details>

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

<details><summary>Click here for the solution</summary>

```python
# Order the previous query and limit the number of rows you fetch

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   fetch first 5 rows only

```

</details>

### Problem 10

##### Get the hardship index for the community area which has College Enrollment of 4368

<details><summary>Click here for the solution</summary>

```python
# For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table as created in the last lab of Week 3 should already exist

%%sql 
select hardship_index 
   from chicago_socioeconomic_data CD, schools CPS 
   where CD.ca = CPS.community_area_number 
      and college_enrollment = 4368

```

</details>

### Problem 11

##### Get the hardship index for the community area which has the highest value for College Enrollment

<details><summary>Click here for the solution</summary>

```python
# For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table as created in the last lab of Week 3 should already exist

%sql select ca, community_area_name, hardship_index from chicago_socioeconomic_data \
   where ca in \
   ( select community_area_number from schools order by college_enrollment desc limit 1 )


```

</details>

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

## Author

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Rav Ahuja</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2021-06-05        | 2.1     | Malika     | Added libraries                    |
| 2020-08-28        | 2.0     | Lavanya    | Moved lab to course repo in GitLab |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>